.grid-container {
    width: 600px;
    height: 600px;
    margin: 3rem auto 0;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.grid-item {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2.game {
text-align: center;
}

.restartBtn {
    margin: 3rem auto 0;
    display: block;
}

